/* Level 2 CSS */
/* Practice set 3 */
/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */
/* Question 2 */
/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
} */

/* div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    /* background-color: rgba(255, 0, 0, 1); */
/* } */
/* #box1{
    background-color: rgba(0,0,255,0.5);
}
#box2{
    background-color: rgba(0,0,255,0.75);
}
#box3{
    background-color: rgba(0,0,255,1);
}  */

/* Practice set 4 */
/* Question 1 */
/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 100px;
    /* Question 2 */
    /* border: 2px solid black;
    display: inline-block;
}
#content{
    height: 613px;
}
footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
} */